.edit-article {
    &__content {
        padding-top: 5rem;
        padding-bottom: 8rem;
        & > .boxed {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        min-height: 30vh;
    }

    &__error {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        min-height: 30vh;

        &__icon {
            width: 5rem;
            height: 5rem;
        }
    }
}

// media queries for responsiveness

@media screen and (max-width: 850px) {
    .edit-article {
        &__content {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }
}
