.review-article {
    &__content {
        padding-top: 5rem;
        padding-bottom: 8rem;
        & > .boxed {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}
